<% provide(:title, 'Passwort zur체cksetzen') %>
<h1>Passwort zur체cksetzen</h1>

    <%= form_tag(@user, password_reset_path(params[:id])) do %>


        <%= hidden_field_tag :email, @user.email %>


    <div class="form-group">
        <label_tag for="neues Passwort">Passwort</label_tag>
        <%= password_field_tag :password_unhashed, :placeholder => 'Passwort' , class: 'form-control' %>
    </div>
    <div class="form-group">
        <%= label_tag for="Passwort best채tigen", "Confirmation" %>
        <%= password_field_tag :password_unhashed_confirmation, :placeholder => 'Passwort best채tigen', class: 'form-control' %>
    </div>
    <p class="button"><%= submit "Update Passwort", class: "btn btn-succsess" %>
    <% end %>
