<% if(!flash[:error])%>
<div id="barcode_label" style="display: inline-block; border: 2px solid; padding-bottom: 0px">
<table style="text-align: left">
  <tr>
    <th>ProduktID:</th>
    <td><%= @prodid%></td>
  </tr>
  <tr>
    <th>Produktname:</th>
    <td><%= @device %></td>
  </tr>
  <tr>
    <th>Besitzer:</th>
    <td><%= Unit.find_by_id(Stock.find_by_id(@device.owner_id).id).name %></td>
  </tr>
  <tr>
    <th>Lagerort:</th>
    <td><%= @device.stock.name %></td>
  </tr>
</table>
  <img style="display: block;margin-left: auto; margin-right:auto;" src="/barcodes/<%=@prodid%>.png">
</div>
<% end%>