<p id="notice"><%= notice %></p>

<p>
  <strong>Db state:</strong>
  <%= @boss_config.db_state %>
</p>

<p>
  <strong>Org name:</strong>
  <%= @boss_config.org_name %>
</p>

<%= link_to 'Edit', edit_boss_config_path(@boss_config) %> |
<%= link_to 'Back', boss_configs_path %>
