<h1>Listing Devices</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Info</th>
      <th>Owner</th>
      <th>Stock</th>
      <th>Device type</th>
      <th>Ready</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.info %></td>
        <td><%= if device.device_type.nil? then else device.device_type.name end%></td>
        <td><%= device.owner_id %></td>
        <td><%= if device.stock.nil? then else device.stock.name end%></td>
        <td><%= device.ready %></td>
        <td><%= link_to 'Show', device, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_device_path(device), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device', new_device_path %>
