<p id="notice"><%= notice %></p>

<p>
  <strong><%= (t "devices.ready") + ":" %></strong>
  <%= @device.ready %>
</p>

<p>
  <strong><%= (t "mixed_fields.info") + ":"%></strong>
  <%= @device.info %>
</p>

<p>
  <strong><%= (t "devices.owner") + ":"%></strong>
  <%= Stock.find_by_id(@device.owner_id).name %>
</p>

<p>
  <strong><%= (t "devices.device_type") + ":"%></strong>
  <%= @device.device_type.name %>
</p>

<p>
  <strong><%= (t "devices.stock") + ":"%></strong>
  <%= @device.stock.name%>
</p>


<a href="/devices/"><button type="button" class = "btn btn-primary" >Back</button></a>
<%= link_to 'Edit', edit_device_path(@device), class:'btn btn-warning' %>

