<p id="notice"><%= notice %></p>

<h1><%= t "stocks.index.title" %></h1>

<table id="stocks" class="table table-striped">
  <thead>
    <tr>
      <th><%= t "mixed_fields.name" %></th>
      <th><%= t "mixed_fields.info" %></th>
      <th><%= t "mixed_fields.unit" %></th>
      <th><%= t "stocks.city" %></th>
      <th><%= t "stocks.street" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.info %></td>
        <td><% unless stock.unit.nil?%>  <%= stock.unit.name %> <%end%> </td>
        <td><%= stock.city %></td>
        <td><%= stock.street %></td>
        <td><%= link_to (t "buttons.show"), stock, class: 'btn btn-info' %>
        <%= link_to (t "buttons.edit"), edit_stock_path(stock), class: 'btn btn-warning' %>
        <%= link_to (t "buttons.destroy"), stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t "buttons.new.stock"), new_stock_path, class: 'btn btn-success' %>
