<p id="notice"><%= notice %></p>

<h1>Listing Stocks</h1>

<table id="stocks" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th>Unit</th>
      <th>City</th>
      <th>Street</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.info %></td>
        <td><% unless stock.unit.nil?%>  <%= stock.unit.name %> <%end%> </td>
        <td><%= stock.city %></td>
        <td><%= stock.street %></td>
        <td><%= link_to 'Show', stock, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_stock_path(stock), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', stock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
