<p id="notice"><%= notice %></p>

<table class="stockCreation" width=300 height=100>
  <tr>
    <td>
      <p>
      <strong>Name:</strong>
      <%= @stock.name %>
      </p>
    </td>
    <td>
      <p>
      <strong>Unit</strong>
      <%= @stock.unit %>
      </p>
    </td>
    <td>
      <p>
      <strong>Info:</strong>
      <%= @stock.info %>
      </p>
    </td>
  </tr>
</table>


<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
