<%= form_for(@user) do |f| %>

    <table class="userCreation" width=300 height=100>

      <tr>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.username") %><br>
            <%= f.text_field :username %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.password") %><br>
            <%= f.password_field :password_unhashed %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.prename") + " *" %><br>
            <%= f.text_field :prename %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.lastname") + " *" %><br>
            <%= f.text_field :lastname %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.email") %><br>
            <%= f.email_field :email %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.mobile_number") %><br>
            <%= f.text_field :mobile_number %>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.info") %><br>
            <%= f.text_area :info, :rows => 2, :cols => 60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
            <div class="form-group ">
              <%= f.label :label_text, (t "mixed_fields.unit") + " *" %>
              <%= f.collection_select :unit_id, Unit.all, :id, :name, {prompt: (t 'stocks.form.select_unit')}, class: "form-control" %>
            </div>
        </td>
      <tr>
        <td>
          <div class="form-group">
            <%= f.label "locale", t(:"language") %>
            <%= select_tag 'locale', options_for_select(I18n.available_locales, I18n.locale),:onchange => :update %>
          </div>
        </td>
        <td>
          <% if @user.persisted? then %>
              <div class="form-group">
                <%= f.label :label_text, (t 'users.edit.active') %><br>
                <%= f.check_box :active %>
              </div>
          <% end %>
        </td>
      </tr>


      <div class="form-group">
      <%= f.label :label_text, (t "devices.ready") + " *" %><br>
      <%= f.check_box :active %>
      </div>

    </table>



    <br>
    <br>

    <div>
      <a href="/users/"><button type="button" class="btn btn-primary"><%= (t "buttons.back") %></button></a>
      <% if !Right.find_by_user_id(@user.id).nil? && current_user.right.manage_rights==true %>
          <%= link_to (t "buttons.rights"), edit_right_path(Right.find_by_user_id(@user.id)), class: 'btn btn-info' %>
      <% end %>


      <%= link_to (t "buttons.show"), @user, class: 'btn btn-info' %>
      <%= f.submit (t "buttons.submit"), class: 'btn btn-success', style: "margin-left:230px;" %>

    </div>



<% end %>