<%= form_for(@user) do |f| %>

    <table class="userCreation" width=300 height=100>

      <tr>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.username") %><br>
            <%= f.text_field :username, :autocomplete => :off %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.password") %><br>
            <%= f.password_field :password_unhashed, :autocomplete => :off, :maxlength => 60, :size => 20 %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label t "mixed_fields.passwordconf" %><br>
            <%= f.password_field :password_unhashed_confirmation, :autocomplete => :off, :maxlength => 60, :size => 20 %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.prename") + " *" %><br>
            <%= f.text_field :prename %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.lastname") + " *" %><br>
            <%= f.text_field :lastname %>
          </div>
        </td>
      </tr>

      <tr>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.email") %><br>
            <%= f.email_field :email %>
          </div>
        </td>
        <td>
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.mobile_number") %><br>
            <%= f.text_field :mobile_number %>
          </div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <div class="form-group">
            <%= f.label :label_text, (t "mixed_fields.info") %><br>
            <%= f.text_area :info, :rows => 2, :cols => 60 %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
            <div class="form-group ">
              <%= f.label :label_text, (t "mixed_fields.unit") + " *" %>
              <%= f.collection_select :unit_id, Unit.all, :id, :name, {prompt: (t 'stocks.form.select_unit')}, class: "form-control" %>
            </div>
        </td>
      <tr>
        <td>
          <% if @user.persisted? then %>
              <div class="form-group">
                <%= f.label :label_text, (t 'users.edit.active') %><br>
                <%= f.check_box :active %>
              </div>
          <% end %>
        </td>
      </tr>

      <div class="form-group">
      <%= f.label :label_text, (t "devices.ready") + " *" %><br>
      <%= f.check_box :active %>
      </div>

    </table>



    <br>
    <br>

    <div>



    </div>



<% end %>