<%= form_for(@user) do |f| %>
<h1><%= t "users.edit.title" %></h1>

<%= render 'form' %>



<%= link_to (t "buttons.back"), @user, class: 'btn btn-primary' %>
<%= link_to (t "buttons.show"), @user, class: 'btn btn-info' %>
    <% if !Right.find_by_user_id(@user.id).nil? && current_user.right.manage_rights==true %>
        <%= link_to (t "buttons.rights"), edit_right_path(Right.find_by_user_id(@user.id)), class: 'btn btn-info' %>
    <% end %>
<%= f.submit (t "buttons.submit"), class: 'btn btn-success', style: "margin-left:230px;" %>
<% end %>