<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Prename</th>
      <th>Lastname</th>
      <th>Unit</th>
      <th>Active</th>
      <th>Email</th>
      <th>Mobile number</th>
      <th>Username</th>
      <!--<th>Password</th>-->
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.prename %></td>
        <td><%= user.lastname %></td>
        <td><%= if user.unit.nil? then else user.unit.name end%></td>
        <td><%= user.active %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile_number %></td>
        <td><%= user.username %></td>
        <!--<td><%= user.password %></td>-->
        <td><%= user.info %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, onclick: 'return confirm("Are you sure?")' %></td>
        <% if !Right.find_by_user_id(user.id).nil? %>
            <td><%= link_to 'Rights', edit_right_path(Right.find_by_user_id(user.id)) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
