<%= form_for(@user) do |f| %>
<h1><%= t "users.new.title" %></h1>
<%= render 'form' %>
<%= link_to (t "buttons.back"), @user, class: 'btn btn-primary' %>

<%= f.submit (t "buttons.submit"), class: 'btn btn-success', style: "margin-left:230px;" %>
<% end %>