<p id="notice"><%= notice %></p>

<table class="userCreation" width=300 height=100>
  <tr>
    <td>
      <p>
        <strong><%= (t "mixed_fields.username") + ":" %></strong><br>
        <%= @user.username %>
      </p>
    </td>

  </tr>

  <tr>
    <td>
      <p>
        <strong><%= (t "mixed_fields.prename") + ":" %></strong><br>
        <%= @user.prename %>
      </p>
    </td>

    <td>
      <p>
        <strong><%= (t "mixed_fields.lastname") + ":" %></strong><br>
        <%= @user.lastname %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <strong><%= (t "mixed_fields.email") + ":" %></strong><br>
        <%= @user.email %>
      </p>
    </td>
    <td>
      <p>
        <strong><%= (t "mixed_fields.mobile_number") + ":" %></strong><br>
        <%= @user.mobile_number %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <strong><%= (t "mixed_fields.info") + ":" %></strong><br>
        <%= @user.info %>
      </p>
    </td>
  </tr>
  <tr>


    <td>
      <p>
        <strong><%= (t "mixed_fields.unit") + ":" %></strong><br>
        <%= @user.unit.name %>
      </p>
    </td>
  </tr>


</table>



<a href="/users/"><button type="button" class = "btn btn-primary" ><%= t "buttons.back" %></button></a>
<%= link_to (t "buttons.edit"), edit_user_path(@user), class:'btn btn-warning' %>
