<%= form_for(@property) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name , (t 'mixed_fields.name')%><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :info , (t 'mixed_fields.info')%><br>
    <%= f.text_area :info %>
  </div>
  <div class="form-group">
    <%= f.label :data_type, (t 'mixed_fields.data_type') %>
    <%= f.collection_select :data_type_id, DataType.all, :id, :name, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :device_type, (t 'devices.device_type') %>
    <%= f.collection_select :device_type_id, DeviceType.all, :id, :name, {}, class: "form-control", include_blank: "choose device_type"%>
  </div>
    <%= t "mixed_fields.req" %>
  <div class="actions">


  </div>
<% end %>
