<%= form_for(@property) do |f| %>
<h1><%= t "properties.edit.title" %></h1>

<%= render 'form' %>
<a href="/properties/"><button type="button" class="btn btn-primary"><%= (t "buttons.back") %></button></a>
<%= link_to (t "buttons.show"), @property, class: 'btn btn-info' %>
<%= f.submit (t "buttons.submit"), class: 'btn btn-success', style: "margin-left:230px;" %>
<% end %>