<p id="notice"><%= notice %></p>

<h1><%= (t "properties.index.title") %></h1>

<table id="properties" class="dataTableJS table table-striped">
  <thead>
    <tr>
      <th><%= t "mixed_fields.name" %></th>
      <th><%= t "mixed_fields.info" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.info %></td>
        <td width="190px"><%= link_to (t "buttons.show"), property, class: 'btn btn-info' %>
        <%= link_to (t "buttons.edit"), edit_property_path(property), class: 'btn btn-warning' %>
        <%= link_to (t "buttons.destroy"), property, method: :delete, data: { confirm: (t 'buttons.confirmation_sure_message') }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t "buttons.new.property"), new_property_path, class: 'btn btn-success' %>
