<p id="notice"><%= notice %></p>

<h1>Listing Properties</h1>

<table id="properties" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.info %></td>
        <td width="190px"><%= link_to 'Show', property, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_property_path(property), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path, class: 'btn btn-success' %>
