<%= form_for(@device_type) do |f| %>
  <% if @device_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@device_type.errors.count, "error") %> prohibited this device_type from being saved:</h2>

      <ul>
      <% @device_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :label_text, (t "mixed_fields.name") %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :label_text, (t "mixed_fields.info") %><br>
    <%= f.text_area :info %>
  </div>
    <br>
  <div class="actions">
    <a href="/device_types/"><button type="button" class="btn btn-primary"><%= (t "buttons.back") %></button></a>
    <%= link_to (t "buttons.show"), @device_type, class: 'btn btn-info' %>
    <%= f.submit (t "buttons.submit"), class: 'btn btn-success', style: "margin-left:230px;" %>
  </div>
<% end %>
