<p id="notice"><%= notice %></p>

<h1>Listing Device Types</h1>

<table id="device_types" class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @device_types.each do |device_type| %>
      <tr>
        <td><%= device_type.name %></td>
        <td><%= device_type.info %></td>
        <td width="190px"><%= link_to 'Show', device_type, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_device_type_path(device_type), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', device_type, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Device type', new_device_type_path, class: 'btn btn-success' %>
