<%= form_for(@right) do |f| %>
  <% if @right.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@right.errors.count, "error") %> prohibited this right from being saved:</h2>

      <ul>
      <% @right.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manage_rights %><br>
    <%= f.check_box :manage_rights %>
  </div>
  <div class="field">
    <%= f.label :manage_users %><br>
    <%= f.check_box :manage_users %>
  </div>
  <div class="field">
    <%= f.label :manage_devices %><br>
    <%= f.check_box :manage_devices %>
  </div>
  <div class="field">
    <%= f.label :manage_device_types %><br>
    <%= f.check_box :manage_device_types %>
  </div>
  <div class="field">
    <%= f.label :manage_stocks_and_units %><br>
    <%= f.check_box :manage_stocks_and_units %>
  </div>
  <div class="field">
    <%= f.label :manage_operations %><br>
    <%= f.check_box :manage_operations %>
  </div>
    <br>
  <div class="actions">

    <%= link_to 'Back to User', edit_user_path(@right.user), class:'btn btn-primary' %>
    <%= f.button :submit => "", class:'btn btn-success', style:"margin-left:230px;"%>

  </div>
<% end %>
