<%= form_for(@lending) do |f| %>
    <% if @lending.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

          <ul>
            <% @lending.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>

    <div class="form-group">
      <%= f.label :device_id %><br>
      <%= f.text_field :device_id %>
    </div>

    <div class="form-group">
      <%= f.label :lending_info %><br>
      <%= f.text_area :lending_info %>
    </div>

    <div class="form-group">
      <%= f.label :lender_id %><br>
      <%= f.text_field :lender_id %>
    </div>


    <div class="form-group">
      <%= f.label :recieve_info %><br>
      <%= f.text_area :receive_info %>
    </div>

    <div class="form-group">
      <%= f.label :receiver_id %><br>
      <%= f.text_field :receiver_id %>
    </div>

    <div class="actions">

    </div>
<% end %>