<%= form_for(@lending) do |f| %>
  <% if @lending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lending.errors.count, "error") %> prohibited this lending from being saved:</h2>

      <ul>
      <% @lending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lending_info %><br>
    <%= f.text_area :lending_info %>
  </div>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#quick_generation" aria-expanded="false" aria-controls="quick_generation"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>

      <div class = "collapse" id = "quick_generation">
        <div class = "well">
          <div class = "field">
            <%= label_tag (t "mixed_fields.prename") + " *"%><br>
            <%= text_field_tag(:user_prename)  %>
          </div>
          <div class = "field">
            <%= label_tag (t "mixed_fields.lastname") + " *"%><br>
            <%= text_field_tag(:user_lastname)  %>
          </div>
          <div class = "field">
            <%= label_tag (t "mixed_fields.unit") + " *"%><br>
            <%= select_tag('user_unit' , options_from_collection_for_select(Unit.all, 'id', 'name'))   %>
          </div>
          <div class = "field">
            <%= label_tag (t "mixed_fields.info")%><br>
            <%= text_area_tag(:user_info)  %>
          </div>
          <div>
            <!-- Caution when translating, implies changes in lendings controller as well -->
            <%= submit_tag("Quick User") %>
          </div>
        </div>
      </div>

    <!-- following 2 fields only to enable dummy generation
    TODO: change to proper fields-->
    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div>

    <!-- hidden field to automatically include current user as lender -->
    <%= f.hidden_field :lender_id, :value => current_user.id %>

    <div>
      <%= render partial: 'lendings_selector/index', :locals => {:devices => @devices }%>
    </div>

    <div>
      <%= f.submit %>
    </div>


<% end %>
