<p id="notice"><%= notice %></p>

<h1>Listing Lendings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Device</th>
      <th>Borrowed at</th>
      <th>Lending info</th>
      <th>Receive</th>
      <th>Receive info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><% if lending.user.nil? then else %>
              <%=lending.user.prename %> <%= lending.user.lastname %>
            <%end%>
        </td>
        <td><%= if lending.device.nil? then else lending.device.info end%></td>
        <td><%= lending.created_at %></td>
        <td><%= lending.lending_info %></td>
        <td><%= lending.receive %></td>
        <td><%= lending.receive_info %></td>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Return', return_lending_path(lending) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending', new_lending_path %>
