<p id="notice"><%= notice %></p>

<h1>Listing Lendings</h1>

<table id="lendings" class="dataTableJS table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Device</th>
      <th>Borrowed at</th>
      <th>Lending info</th>
      <th>Receive</th>
      <th>Receive info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><% unless lending.user.nil?%>  <%=lending.user.prename %> <%= lending.user.lastname %> <%end%></td>
        <td><% unless lending.device.nil?%>  <%= lending.device.info %> <%end%></td>
        <td><%= lending.created_at %></td>
        <td><%= lending.lending_info %></td>
        <td><%= lending.receive %></td>
        <td><%= lending.receive_info %></td>
        <td width="190px"><%= link_to 'Show', lending, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_lending_path(lending), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending', new_lending_path, class: 'btn btn-success' %>
