<p id="notice"><%= notice %></p>

<h1><%= (t 'lendings.index.title') %></h1>

<table id="lendings" class="dataTableJS table table-striped">
  <thead>
    <tr>
      <th><%= (t 'mixed_fields.username') %></th>
      <th><%= (t 'mixed_fields.device') %></th>
      <th><%= (t 'lendings.borrowed_at') %></th>
      <th><%= (t 'lendings.leding_info') %></th>
      <th><%= (t 'lendings.receive') %></th>
      <th><%= (t 'lendings.receive_info') %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><% unless lending.user.nil?%>  <%=lending.user.prename %> <%= lending.user.lastname %> <%end%></td>
        <td><% unless lending.device.nil?%>  <%= lending.device.info %> <%end%></td>
        <td><%= lending.created_at %></td>
        <td><%= lending.lending_info %></td>
        <td><%= lending.receive %></td>
        <td><%= lending.receive_info %></td>
        <td width="190px"><%= link_to (t 'buttons.show'), lending, class: 'btn btn-info' %>
        <%= link_to (t 'buttons.destroy'), lending, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% if (lending.receive.nil?)%> <%= link_to (t 'buttons.return'), return_lending_path(lending), class: 'btn btn-warning' %> <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t 'buttons.lendings.new_lending'), new_lending_path, class: 'btn btn-success' %>
