<p id="notice"><%= notice %></p>

<h1>Listing Lendings</h1>

<table>
  <thead>
    <tr>
      <th>Receive</th>
      <th>Lending info</th>
      <th>Receive info</th>
      <th>Lending ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lendings.each do |lending| %>
      <tr>
        <td><%= lending.receive %></td>
        <td><%= lending.lending_info %></td>
        <td><%= lending.receive_info %></td>
        <td><%= lending.id%> </td>
        <td><%= link_to 'Show', lending %></td>
        <td><%= link_to 'Edit', edit_lending_path(lending) %></td>
        <td><%= link_to 'Destroy', lending, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Return', lending, :action => :return %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lending', new_lending_path %>
