<p id="notice"><%= notice %></p>

<!-- TODO: Change to username instead of ID -->
<p>
  <strong>User:</strong>
  <%= @lending.user.prename %> <%=@lending.user.lastname %>
</p>

<p>
  <strong>Device:</strong>
  <%= @lending.device %>
</p>

<p>
  <strong>Lending:</strong>
  <%= @lending.created_at %>
</p>

<p>
  <strong>Lending info:</strong>
  <%= @lending.lending_info %>
</p>

<!-- TODO: Change to username instead of ID -->
<p>
  <strong>Lender:</strong>
  <%= if !(@lending.lender_id.nil?) then User.find_by_id(@lending.lender_id).username end %>
</p>

<p>
  <strong>Receive:</strong>
  <%= @lending.receive %>
</p>

<p>
  <strong>Receive info:</strong>
  <%= @lending.receive_info %>
</p>

<!-- TODO: Change to username instead of ID -->
<p>
  <strong>Receiver:</strong>
  <%= if !(@lending.receiver_id.nil?) then User.find_by_id(@lending.receiver_id).username end %>
</p>

<%= link_to 'Edit', edit_lending_path(@lending) %> |
<%= link_to 'Back', lendings_path %>
