<%= form_for(@unit) do |f| %>

    <div class="form-group">
    <%= f.label  :label_text,(t "units.name") + " *" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :label_text, (t "mixed_fields.info") %><br>
    <%= f.text_area :info %>
  </div>
  <div class="form-group">
    <%= f.label :label_text, (t "units.phone_number") %><br>
    <%= f.text_field :phone_number %>
  </div>
    <%= t "mixed_fields.req" %>
  <div class="actions">
    <%= link_to (t "buttons.back"), units_path,class:'btn btn-primary' %>
    <%= link_to (t "buttons.show"), @unit, class:'btn btn-info'%>
    <%= f.submit (t "buttons.submit"), class:'btn btn-success', style:"margin-left:230px;"%>

  </div>
<% end %>
