<p id="notice"><%= notice %></p>

<h1><%= t "units.index.title" %></h1>

<table id="units" class="table table-striped">
  <thead>
    <tr>
      <th><%= t "units.name" %></th>
      <th><%= t "mixed_fields.info" %></th>
      <th><%= t "units.phone_number" %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.info %></td>
        <td><%= unit.phone_number %></td>
        <td width="180px"><%= link_to (t "buttons.show"), unit, class: 'btn btn-info' %>
        <%= link_to (t "buttons.edit"), edit_unit_path(unit), class: 'btn btn-warning' %>
        <%= link_to (t "buttons.destroy"), unit, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t "buttons.new.unit"), new_unit_path, class: 'btn btn-success' %>
