<p id="notice"><%= notice %></p>

<p>
  <strong><%= (t "units.name") + ":" %></strong>
  <%= @unit.name %>
</p>

<p>
  <strong><%= (t "mixed_fields.info") + ":" %></strong>
  <%= @unit.info %>
</p>

<p>
  <strong><%= (t "units.phone_number") + ":" %></strong>
  <%= @unit.phone_number %>
</p>

<%= link_to (t "buttons.back"), units_path, class:'btn btn-primary' %>
<%= link_to (t "buttons.edit"), edit_unit_path(@unit), class:'btn btn-warning' %>
