<p id="notice"><%= notice %></p>

<h1>Listing Device Groups</h1>

<table id='device_groups' class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @device_groups.each do |device_group| %>
      <tr>
        <td><%= device_group.name %></td>
        <td><%= device_group.info %></td>
        <td width="180px"><%= link_to 'Show', device_group, class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_device_group_path(device_group), class: 'btn btn-warning' %>
        <%= link_to 'Destroy', device_group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if current_user.right.manage_devices==true%><%= link_to 'New Device group', new_device_group_path, class: 'btn btn-success' %><%end%>
<%if current_user.right.manage_devices==true%><%= link_to (t 'buttons.device_group'), devices_path, class: 'btn btn-success', style: "margin-left:230px;" %><%end%>

