<p id="notice"><%= notice %></p>

<h1><%=(t "device_groups.index.title")%></h1>

<table>
  <thead>
    <tr>
      <th><%=(t "mixed_fields.name")%></th>
      <th><%=(t "mixed_fields.info")%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @device_groups.each do |device_group| %>
      <tr>
        <td><%= device_group.name %></td>
        <td><%= device_group.info %></td>
        <td><%= link_to (t "buttons.back"), device_group %></td>
        <td><%= link_to (t "buttons.edit"), edit_device_group_path(device_group) %></td>
        <td><%= link_to (t "buttons.destroy"), device_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to (t "buttons.new.device_groups"), new_device_group_path %>
