<!DOCTYPE html>
<html>
<head>
  <title>IMS - Inventory Management System</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <style>
      #impressum { text-align: right; margin-right: 4px}
      .logoutdiv { text-align: right; margin-right: 4px}
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>
<body>

<%= stylesheet_link_tag "starts" %>


<script type="text/javascript">
    function updateTime() {
        var date = new Date();
        var stunden = date.getHours();
        var minuten = date.getMinutes();
        var tag = date.getDate();
        var monatDesJahres = date.getMonth();
        var jahr = date.getFullYear();
        var tagInWoche = date.getDay();
        var jahr_t = date.getFullYear() - 2000;
        var wochentag = new Array("Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag");
        var monat = new Array("Januar", "Februar", "M&auml;rz", "April", "Mai", "Juni", "Juli", "August", "September", "Oktober", "November", "Dezember");
        var monat_t = new Array("jan", "feb", "mar", "apr", "may", "jun", "jul", "aug", "sep", "oct", "nov", "dec");

        if(stunden < 10){stunden = "0" + stunden;}
        if(minuten < 10){minuten = "0" + minuten;}
        if(tag < 10){tag = "0" + tag;}

        var datum = wochentag[tagInWoche] + ", " + tag + ". " + monat[monatDesJahres] + " " + jahr + " " + stunden + ":" + minuten;
        var datum_t = tag + stunden + minuten + monat_t[monatDesJahres] + jahr_t;

        document.getElementById('time').innerHTML = datum;
        document.getElementById('time1').innerHTML = datum_t;
        setTimeout(updateTime, 60000);
    }



    window.addEventListener("load", updateTime);


</script>

<!-- class="hidden-xs hidden-sm"-->
<div>

<div id="banner" >
  <div id="logo" onclick="javascript:window.location.href='/starts/';"></div>
    <div id="language">
    <input id="switch"  type="checkbox" data-cur_lang="<%= I18n.locale %>" <% if I18n.locale == :en %>checked<% end %> />
    </div>

<div id="infobar">
    <ul class="nav nav-tabs" >
      <li role="presentation"><a href="#">Impressum</a></li>
      <li role="presentation"><a href= "/contacts/">Kontakt</a></li>
      <% if logged_in? %><li role="presentation"><a href="/logout/"><b><%= current_user.username %></b> (Logout)</a></li><% end %>
    </ul>
</div>
  <div style="clear:both"></div>



</div>


<div id="timebox">

    <div id="time">
    </div>
    <div id="time1">
    </div>
</div>

<div id="bgcontainer">
  <% if(flash[:success])%>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:success] %>
      </div>
  <% end %>
  <% if(flash[:notice])%>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:notice] %>
      </div>
  <% end %>
  <% if(flash[:warning])%>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:warning] %>
      </div>
  <% end %>
  <% if(flash[:error])%>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= flash[:error] %>
      </div>
  <% end %>




<div class="nav-stacked" id="menucontainer">

  <% if logged_in? %>
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="<%= 'active'if params[:controller] == 'starts' %> " ><a href="/starts/" >Start</a></li>
    <li role="presentation" class="<%= 'active'if params[:controller] == 'operations' %> "><a href="/operations/" >Einsatz</a></li>
    <li role="presentation" class="<%= 'active'if params[:controller] == 'devices' %> "><a href="/devices/" >Ger&auml;te</a></li>
    <li role="presentation" class="<%= 'active'if params[:controller] == 'stocks' %> "><a href="/stocks/" >Lagerorte</a></li>
    <li role="presentation" class="<%= 'active'if params[:controller] == 'users' %> "><a href="/users/" >User</a></li>
    <li role="presentation" class="<%= 'active'if params[:controller] == 'starts' %> "><a href="/starts/" >Karte</a></li>
    <li role="presentation" class="<%= 'active'if params[:controller] == 'units' %> "><a href="/units/" >Einheiten</a></li>
    </ul>
  <% end %>

  <% if !logged_in? %>
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="<%= 'active'if params[:controller] == 'starts' %> " ><a href="/login/" >Start</a></li>
        <li role="presentation" class="<%= 'inactive'if params[:controller] == 'operations' %> "><a href="/login/" >Einsatz</a></li>
        <li role="presentation" class="<%= 'inactive'if params[:controller] == 'devices' %> "><a href="/login/" >Ger&auml;te</a></li>
        <li role="presentation" class="<%= 'inactive'if params[:controller] == 'stocks' %> "><a href="/login/" >Lagerorte</a></li>
        <li role="presentation" class="<%= 'inactive'if params[:controller] == 'users' %> "><a href="/login/" >User</a></li>
        <li role="presentation" class="<%= 'inactive'if params[:controller] == 'starts' %> "><a href="/login/" >Karte</a></li>
        <li role="presentation" class="<%= 'inactive'if params[:controller] == 'units' %> "><a href="/login/" >Einheiten</a></li>
  </ul>
  <% end %>
</div>




<div id="content">
    <%= yield %>
</div>



</div>

</div>




</body>
</html>
