<%= form_for(@operation) do |f| %>
<h1> <%= t "operations.edit.title" %> </h1>

<%= render 'form' %>



<%= link_to (t "buttons.back"), operations_path , class:'btn btn-primary'%>
<%= link_to (t "buttons.show"), @operation , class:'btn btn-info'%>
<%= f.submit (t "buttons.submit"), class:'btn btn-success', style:"margin-left:230px;"%>
<% end %>