<h1><%= t 'operations.show_lendings.title' %></h1>

<% dev_hash = Hash.new %>
<% stock_ids = (Operation.find(params[:format]).stocks).to_a.map(&:serializable_hash) %>
<% stock_ids.each do |k| %>
    <% Device.where(stock_id: k['id']).find_each do |dev| %>
        <% dev.lendings.each do |ldevs| %>
            <% if ldevs.receiver_id.nil? %>
                <% dev_hash[ldevs.device.id] = ldevs %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<table id="lended_devices" class="dataTableJS table table-striped">
  <thead>
  <tr>
    <th><%= (t 'mixed_fields.device') + ' ID' %></th>
    <th><%= (t 'mixed_fields.info') %></th>
    <th><%= (t 'devices.owner') %></th>
    <th><%= (t 'devices.stock') %></th>
    <th><%= (t 'devices.device_type') %></th>
    <th><%= (t 'devices.device_group') %></th>
  </tr>
  </thead>

  <tbody>

  <% dev_hash.each do |dh| %>
      <% dev = Device.find(dh[0]) %>
      <tr>
        <td><%= dev.id %></td>
        <td><%= dev.info %></td>
        <td><%= (Stock.find(dev.owner_id)).name %></td>
        <td><%= dev.stock.name %></td>
        <td><%= dev.device_type.name %></td>
        <td>
          <% unless dev.device_group.nil? %> <%= dev.device_group.name %>
          <% end %> </td>
        <td>
          <%= link_to 'Return', return_lending_path( dev_hash[dh[0]]), class: 'btn btn-warning' %></td>
        </td>
      </tr>
  <% end %>

  </tbody>
</table>
