<h1>Test of show lendings from operation</h1>

<% @arr = [] %>

<%= puts 'Hier kommt die Maus' %>
<% stock_ids = (Operation.find(params[:format]).stocks).to_a.map(&:serializable_hash) %>
<% stock_ids.each do |k| %>
    <% Device.where(stock_id: k['id']).find_each do |dev| %>
        <% dev.lendings.each do |ldevs| %>
            <% if ldevs.receiver_id.nil? %>
                <% @arr.push(ldevs.device.id) %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<table id="lended_devices" class="dataTableJS table table-striped">
  <thead>
  <tr>
    <th><%= 'ID' %></th>
    <th><%= 'INFO' %></th>
    <th><%= 'Owner name' %></th>
    <th><%= 'Stock name' %></th>
    <th><%= 'Device Type' %></th>
    <th><%= 'Device Group' %></th>

  </tr>
  </thead>

  <tbody>
  <% @arr.each do |id| %>
    <% dev = Device.find(id) %>
      <tr>
        <td><%= dev.id %></td>
        <td><%= dev.info %></td>
        <td><%= (Stock.find(dev.owner_id)).name %></td>
        <td><%= dev.stock.name %></td>
        <td><%= dev.device_type.name %></td>
        <td><% unless dev.device_group.nil? %> <%= dev.device_group.name %> <%end%> </td>
      </tr>
  <% end %>
  </tbody>
</table>







<!-- %= puts Device.find_by_stock_id(Operation.find(params[:format]).stocks.ids) %-->