<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @operation.number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @operation.operation_type %>
</p>

<p>
  <strong>Info:</strong>
  <%= @operation.info %>
</p>

<p>
  <strong>Location:</strong>
  <%= @operation.location %>
</p>
<p>
  <strong>User:</strong>
  <%= @operation.user.prename%>
  <%= @operation.user.lastname%>
</p>

<p>
  <strong>Begin date:</strong>
  <%= @operation.created_at+7200 %>
</p>
<p>
  <strong>Close date:</strong>
  <%= @operation.close_date %>
</p>

<%= link_to 'Back', operations_path , class:'btn btn-primary'%>

<%= link_to 'Edit', edit_operation_path(@operation), class:'btn btn-warning' %>
